---
import type { GetStaticPaths } from "astro";
import PostList from "../../components/PostList.astro";
import BaseLayout from "../../layouts/baseLayout.astro";

export const getStaticPaths = (async () => {
  console.log("getStaticPaths run");
  // 获取所有文章
  const allPosts = await Astro.glob("../posts/*.md");
  // 获取 文章的所有标签
  const tags = allPosts.map((p) => p.frontmatter.tags);
  const flatTags = tags.flat();
  const uinqueTags = [...new Set(flatTags)];

  return uinqueTags.map((tag) => {
    console.log("getStaticPaths run tag", tag);
    let filteredPosts = [];
    filteredPosts = allPosts.filter(
      (post) => post.frontmatter.tags && post.frontmatter.tags.includes(tag),
    );

    return {
      params: { tag: tag },
      props: {
        posts: filteredPosts,
      },
    };
  });
}) satisfies GetStaticPaths;
export const prerender = true;
// 获取要查看的tag
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div class="wrap">
    <h2>所有包含标签 {tag} 的文章</h2>
    <PostList arrPost={posts} />
  </div>
</BaseLayout>
