---
import BaseLayout from '../../layouts/baseLayout.astro'
const allPosts = await Astro.glob('../posts/*.md')
// 获取 文章的所有标签
const tags = allPosts.map((p) => p.frontmatter.tags)
const flatTags = tags.flat()
const uinqueTags = [...new Set(flatTags)]
---

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
<BaseLayout pageTitle='所有标签'>
  <ul class='tags'>
    {
      uinqueTags.map((tag) => {
        return (
          <li class='tag'>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        )
      })
    }
  </ul>
</BaseLayout>
