---
import { getCollection } from 'astro:content'
import PostList from '../components/PostList.astro'
import BaseLayout from '../layouts/baseLayout.astro'
const allPosts = await getCollection('posts')
---

<style lang='scss' is:global>
  .posts {
    // margin: 0;
    padding: 0;
    margin-left: 0;

    .item {
      list-style: none;
      margin: 16px 0;
      padding-left: 16px;
      border-bottom: 1px dashed;
      .date {
        padding-right: 0.5em;
      }
    }
  }
</style>
<BaseLayout pageTitle='首页'>
  <div class='wrap'>
    <ul class='posts index-posts'>
      {
        allPosts.map((post) => (
          <li class='item'>
            <h3>
              <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </h3>
            <p class='post-info'>
              <span class='date'>
                {post.data.pubDate.toISOString().split('T')[0]}
              </span>
              <span class='tags-wrap'>
                {post.data.tags.map((tag) => {
                  return (
                    <a href={`/tags/${tag}`}>
                      <span class='tags'>{tag}</span>
                    </a>
                  )
                })}
              </span>
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
