---
import '../styles/global.css'
import '../styles/_global.scss'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

const { pageTitle } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- <link rel='icon' type='image/svg+xml' href='/favicon.svg' /> -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content='苏茂林' />
    <title>{pageTitle} - 苏茂林</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
