---
import BaseLayout from './baseLayout.astro'

const { frontmatter } = Astro.props
---

<style lang='scss' is:global>
  .post-container {
    margin: 80px 16px;
    .post-header {
      border-bottom: dashed 1px #1f0909;
      margin-bottom: 30px;
      .tit {
        text-align: center;
      }
    }
  }

  .author-copyright {
    text-align: right;
  }
</style>
<BaseLayout pageTitle={frontmatter.title}>
  <div class='post-container'>
    <div class='post-header'>
      <h1 class='tit'>
        {frontmatter.title}
      </h1>

      <div class='post-info'>
        <span class='data-wrap'>
          更新时间：<span class='date'>{frontmatter.pubDate.split('T')[0]}</span
          >
        </span>
        <span class='tags-wrap'>
          文章标签：{
            frontmatter.tags.map((tag) => {
              return (
                <a href={`/tags/${tag}`}>
                  <span class='tags'>{tag}</span>
                </a>
              )
            })
          }
        </span>
      </div>
    </div>
    <div class='content'>
      <slot />
    </div>
    <div class='author-copyright'>
      <p>
        本博客所有文章除特别声明外，均采用
        <a
          target='_blank'
          rel='noopener'
          href='https://creativecommons.org/licenses/by-nc-sa/4.0/'
          >CC BY-NC-SA 4.0</a
        >
        许可协议，转载请注明出处
      </p>
    </div>
  </div>
</BaseLayout>
