---
import BaseLayout from './baseLayout.astro'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <ul class='tags'>
    {
      frontmatter.tags.map((tag) => {
        return (
          <li class='tag'>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        )
      })
    }
  </ul>
  <slot />
</BaseLayout>
